
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    scroll-behavior: smooth;

}
.nav
{
    background-color: #141619;
    height: 4rem;
}
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #1F262D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: sans-serif;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 95%;
    position: absolute;
    margin : 0 auto;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.brand
{
    height: 65px;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins';
    padding: 10px 10px;
}
.sidebar-nav  span.link {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav  span.link:hover {
    text-decoration: none;
    color: #fff;
    background: #191f25;
}
.sidebar-nav .is-active  span.link{
    text-decoration: none;
    color: #fff;
    background: #27A9E3;
}
.sidebar-nav  span.link:active,
.sidebar-nav  span.link:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins';
    padding: 10px 0;
}

.sidebar-nav > .sidebar-brand span.link {
    color: #999999;
}

.sidebar-nav > .sidebar-brand span.link:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.burger
{
    transition: all 0.2s ease-out;
}
.burger:hover
{
   cursor: pointer;
   transform: scale(1.1);
}